
.burger{
    display: none;
}
.mobile{
    display: none;
}
.nav{
    color: rgb(100, 100, 100); 
    display: flex; 
    gap: 30px;
}
.desktop{
    width: 500px;
}
.main{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 250px; 
    margin-top: 100px;
}
.two{
    display: flex; 
    gap: 15px; 
    align-items: center;
}

@media screen and (max-width: 450px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
        width: 400px;
    }
    .nav{
        display: none;
    }
    .burger{
        display: block;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        margin-top: 100px;
    }
    h1{
        font-size: 50px;
    }
    .leftside{
        text-align: center;
    }
    .two{
        display: none;
    }
    .active {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 300px;
        height: 850px;
        background-color: white;
        color: black;
        position: absolute;
        top: 120px;
        right: 20px;
        padding: 20px;
        
    }



}